body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-weight: 750;
    background-color: antiquewhite  ;
}

    ul{
        display: flex;
        list-style: none;
    }

a{
    margin-left: 60px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    color: gray;
    font-size: x-large;
}

a:hover{
color: greenyellow  ;
transition-duration: 1s;
}

.navbar{

    justify-self: center;
    display: flex;
    width: 100%;
    background-color: white;
    height: 80px;
    
}

.navbar-text{
    padding-left: 750px;
   
    

}

.navbar-content{
    display: flex;
    padding-top: 10px;
    
    
}



.navbar-search{
  

    padding-left: 700px;
}


input{
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
    
}

.identity
{
    background-size: 200px 200px;
}

.content{
    display: none;
    width: 1000px;
    height: 600px;
;
    border-radius: 30px;
}


.container{
    margin-left:20px;
    margin-top: 150px;
    justify-self: center;
}

.foto{
    margin-top: -100px;
    margin-left: 378px;
    width: 220px;
    height: 280px;
    position: absolute;
   
}

   